.background{
	height: 100vh;
	width: 100vw;
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#holderText{
	margin-top: 25vh;
	text-align: center;
	color: white;
}
#holderText > h1{
	font-size: 7em;
}
#holderText > h2{
	font-size: 3em;
}